<div class='container-fluid'>
	<div class='pending-homepage row'>
		<div class='homepage-block'>
		<% if current_user.audit_logs.pending.any? %>
			<h3 id='pending-approval'>Pending Your Confirmation</h3>

			<%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
		</div>
		<% else %>
			<div class='homepage-block'>
				<h3 id='pending-approval'>Hooray! You have already confirmed your overtime!</h3>
			</div>
		<% end %>

		<div class='homepage-block'>
			<h3 id='pending-approval'>Request Overtime</h3>
			<%= link_to 'New Overtime Request', new_post_path, class: 'btn btn-lg btn-primary btn-block' %>
		</div>

	</div>
</div>