<div class="jumbotron">
  <h2>
    Welcome <%= current_user.first_name %>
  </h2>
  	Last login: <%= current_user.last_sign_in_at.strftime("%a %b %d, %Y") %> at <%= current_user.last_sign_in_at.strftime("%r") %>
  	<hr>
  <p>
    <a class="btn btn-primary btn-large" href="posts/new">Log Overtime</a>
  </p>
</div>

