.employee-blocks {
	background-color: #5A2328;
	margin: 0px 15px 30px 15px;
}

#pending-approval {
	color: white;
	text-align: center;
}

.recent-pending {
	margin: 10px 0px 10px 0px;
	background-color: #E3E3E3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
}